 .expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rpm;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #dacc54; 
}

.expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-end;
    flex-flow: column-reverse;


}
@media(min-width: 900px){
 .expense-item__price{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: yellowgreen;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    text-align: end;
    align-items: flex-end;
 }
 .expense-item__description{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    gap: 2 rem;
 }

 .expense-item__description h2{
    font-size: 1.25 rem;
    align-items: center;
    gap: 2rem;
 }

 .expense-item__price{
    font-size: 1.25rem;
    padding: 0.5 rem 1.5rem;
    text-align: end;
 }
}